@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

    /*--font-sans: var(--font-ar-one-sans), system-ui, sans-serif;*/
  /* For monospace, we are letting it fall back to standard system monospaces */
  --font-sans: var(--font-geist-mono);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
  scroll-behavior: smooth;
}




@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 7s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.animation-delay-2000 { animation-delay: 2s; }
.animation-delay-4000 { animation-delay: 4s; }
